<!-- <div class="app-header navba8 ">
  <input type="checkbox" id="toggle" >
  <label for="toggle"><h3 id="header">menu aqui</h3></label>
</div> -->


<!-- <div class="app-header">
  <input type="checkbox" id="toggle">
      <div id="header">
        <label for="toggle"> desplegar</label>
     </div>

</div>

<div id="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem velit officiis magnam voluptatum, laudantium
    quaerat saepe minima facere deserunt, sunt quibusdam ipsa itaque soluta dignissimos vero error? Cumque, impedit
    repellat.
</div>

<div id="menu">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Portfolio</a></li>
    </ul>
  </div>


  <input type="checkbox" id="ossm" name="ossm"> 
<label for="ossm">CSS is Awesome</label> 
</div> -->

<input type="checkbox" id="toggle">
<div id="" class="app-header">
  <label for="toggle">
    desplegar
  </label>
</div>
<div id="content">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
  type specimen book.
  <i class="fa fa-bath" aria-hidden="true"></i>


</div>

<div class="menu">
  <div class="menu-header">
    <p>Sistema Nacional de Expedientes Clinicos</p>
  </div>
  <div class="tm-nav">
    <p>Navegacion</p>
  </div>
  <div class="list-nav">
    <div class="nav-opt">
      <div class="nv-s">
        <a href="#">historia clinico</a>
      </div>
    </div>
    <div class="nav-opt">
      <div class="nv-s">
        <a href="#">historia clinico</a>
      </div>
    </div>
    <div class="nav-opt">
      <div class="nv-s">
        <a href="#">historia clinico</a>
      </div>
    </div>
    <div class="nav-opt">
      <div class="nv-s">
        <a href="#">historia clinico</a>
      </div>
    </div>
  </div>
</div>
