<!-- <div class="app-header navba8 ">
  <input type="checkbox" id="toggle" >
  <label for="toggle"><h3 id="header">menu aqui</h3></label>
</div> -->


<div class="app-header">
  <input type="checkbox" id="toggle">
      <div id="header">
        <label for="toggle">
          desplegar
        </label>
  </div>

</div>



<div id="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem velit officiis magnam voluptatum, laudantium
    quaerat saepe minima facere deserunt, sunt quibusdam ipsa itaque soluta dignissimos vero error? Cumque, impedit
    repellat.
</div>