<div class="container">
    
    <h3>Ficha de Identificacion</h3>
    <form [formGroup]="FichaIdentificacionForm">
    <div class="row">
        <div class="form-group col-3">
            <label>Nombres</label>
            <input type="text" class="input-bb" formControlName="Nombres">
        </div>
        <div class="form-group col-3">
            <label>Apellidos</label>
            <input type="text" class="input-bb" formControlName="Apellidos">
        </div>
        <div class="form-group col-3">
            <label>Apodo</label>
            <input type="text" class="input-bb " formControlName="Apodo">
        </div>
        <div class="form-group col-3">
            <label>Sexo</label>
            <ng-select 
            bindLabel="text"
            bindValue="id"
            [items]="sexo" 
            placeholder="Seleccione" 
            formControlName="Sexo">
            </ng-select>
        </div>
        <div class="form-group col-3">
            <label>Fecha de Nacimiento</label>
            <input type="text" placeholder="Datepicker" class="input-bb" bsDatepicker >
            <!-- <mat-form-field>
                <input  matInput  [matDatepicker]="picker" placeholder="" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
            <!-- <ngb-datepicker #dp formControlName="FechaNacimiento" (navigate)="date = $event.next"></ngb-datepicker> -->
            <!-- <input type="text" class="input-bb" formControlName="FechaNacimiento"> -->
        </div>
        <div class="form-group col-3">
            <label>Sangre</label>
            <ng-select 
            bindLabel="text"
            bindValue="id"
            [items]="sangre"
             placeholder="Seleccione" 
             formControlName="Sangre">
            </ng-select>
        </div>
        <div class="form-group col-3">
            <label>Estado Civil</label>
            <ng-select 
            bindLabel="text"
            bindValue="id"
            [items]="EstadoCivil"
             placeholder="Seleccione" 
             formControlName="EstadoCivil">
            </ng-select>
        </div>
        <div class="form-group col-3">
            <label>Escolaridad</label>
            <input type="text" class="input-bb" formControlName="Escolaridad">
        </div>
        <div class="form-group col-3">
            <label>Ocupacion</label>
            <ng-select [items]="[]" placeholder="Seleccione" formControlName="Ocupacion">
            </ng-select>
        </div>
        <div class="form-group col-3">
            <label>Telefono</label>
            <input type="text" class="input-bb" mask="000-000-0000" formControlName="Telefono">
        </div>
        <div class="form-group col-3">
            <label>Celular</label>
            <input type="text" class="input-bb" mask="000-000-0000" formControlName="Celular">
        </div>
        <div class="form-group col-3">
            <label>Email</label>
            <input type="text" class="input-bb" formControlName="Email">
        </div>
        <div class="form-group col-3">
            <label>Pais</label>
            <ng-select [items]="[]" placeholder="Seleccione"  formControlName="Pais"> 
            </ng-select>
        </div>
        <div class="form-group col-3">
            <label>Provincia</label>
            <ng-select [items]="[]" placeholder="Seleccione"  formControlName="Provincia">
            </ng-select>
        </div>
        <div class="form-group col-3">
            <label>Municipio</label>
            <ng-select [items]="[]" placeholder="Seleccione"  formControlName="Municipio">
            </ng-select>
        </div>
        <div class="form-group col-3">
            <label>Sector</label>
            <ng-select [items]="[]" placeholder="Seleccione"  formControlName="Sector">
            </ng-select>
        </div>
    </div>
   </form>

    <div class="">
        <h3>Patologias </h3>
        <div class="row">

            <div class="form-group col-4">
                <label>Padre</label>
                <ng-select [multiple]="true" [(ngModel)]="selectedCars" [dropdownPosition]="'top'">
                    <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">
                        {{car.name}}</ng-option>
                    <ng-option [value]="'custom'">Custom</ng-option>
                </ng-select>
            </div>

            <div class="form-group col-4">
                <label>Madre</label>
                <ng-select [multiple]="true" [dropdownPosition]="'top'">
                    <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">
                        {{car.name}}</ng-option>
                    <ng-option [value]="'custom'">Custom</ng-option>
                </ng-select>
            </div>


            <div class="form-group col-4">
                <label>Hermanos</label>
                <ng-select [multiple]="true" [dropdownPosition]="'top'">
                    <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled">
                        {{car.name}}</ng-option>
                    <ng-option [value]="'custom'">Custom</ng-option>
                </ng-select>
            </div>
        </div>
    </div>

    <div>
        <h3>Antecedentes Personales</h3>
        <div class="row">

            <div class="form-group col-3">
                <label>Alergicos</label>
                <textarea cols="30" rows="10" class="input-bb txt-m"></textarea>
            </div>
            <div class="form-group col-3">
                <label>ITS</label>
                <textarea cols="30" rows="10" class="input-bb txt-m"></textarea>
            </div>

            <div class="form-group col-3">
                <label>Quirúrgicos</label>
                <textarea cols="30" rows="10" class="input-bb txt-m"></textarea>
            </div>
            <div class="form-group col-3">
                <label>Medicamentos</label>
                <textarea cols="30" rows="10" class="input-bb txt-m"></textarea>
            </div>
            <div class="form-group col-4">
                <label>Otros</label>
                <ng-select [multiple]="true" [dropdownPosition]="'top'">
                    <ng-option *ngFor="let antecedente of antecedentesPersonales" [value]="antecedente.id"
                        [disabled]="antecedente.disabled">
                        {{antecedente.text}}</ng-option>
                    <ng-option [value]="'custom'">Custom</ng-option>
                </ng-select>
            </div>
        </div>
    </div>

    <div>
        <h3>Padecimiento actual</h3>
        <div class="row">

            <div class="form-group col-6">
                <textarea cols="30" rows="10" class="input-bb txt-m"
                    placeholder="Detallar el padecimiento aqui"></textarea>
            </div>
            <div class="form-group col-6">
                <textarea cols="30" rows="10" class="input-bb txt-m" placeholder="Otras adicciones"></textarea>
            </div>


        </div>
    </div>
</div>

<div class="div-btn">
    <button class="btn ob"> GUARDAR HISTORIA </button>
</div>