<div class="content-all">


  <div class="menu">
    <div class="menu-header">
      <p>Zalute</p>
    </div>
    <div class="tm-nav">
      <p>Navegacion</p>
    </div>
    <div class="list-nav">

      <div class="nav-opt">
        <div class="nv-s">
          <!-- icon and sub opciones -->
          <div class="sing-op" (click)="back()">
            <div class="ic">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>
            <label for="B">Inicio</label>
          </div>
          <!-- Cierre icon and sub opciones -->
        </div>
      </div>

      <div class="nav-opt">
        <input type="checkbox" id="A">

        <div class="nv-s">
          <!-- icon and sub opciones -->
          <div class="sing-op">
            <div class="ic">
              <i class="fa fa-medkit" aria-hidden="true"></i>
            </div>
            <label for="A"> Consulta Externa</label>
          </div>
          <!-- Cierre icon and sub opciones -->

          <!-- ICON TOGGLE ARROW -->
          <div class="ic-togg">

            <i class="fa fa-chevron-left fle-arrow" aria-hidden="true"></i>

          </div>
          <!-- CIERRE ICON TOGGLE ARROW -->
        </div>

        <ul>
          <div class="it" [routerLink]="['/historia-clinica']">
            <li>Historia Clinica</li>
          </div>
          <div class="it" [routerLink]="['/nota-evolucion']">
            <li>Nota de evolucion</li>
          </div>
          <div class="it" [routerLink]="['/nota-interconsulta']">
            <li><a>Nota de Interconsulta</a></li>
          </div>
          <div class="it" [routerLink]="['/nota-referencia']">
            <li><a>Nota de referencia</a></li>
          </div>
          <div class="it" [routerLink]="['/contra-referencia']">
            <li><a>Nota de contrareferencia</a></li>
          </div>
        </ul>

      </div>

      <div class="nav-opt">
        <input type="checkbox" id="B">

        <div class="nv-s">
          <!-- icon and sub opciones -->
          <div class="sing-op">
            <div class="ic">
              <i class="fa fa-medkit" aria-hidden="true"></i>
            </div>
            <label for="B">Urgencia</label>
          </div>
          <!-- Cierre icon and sub opciones -->

          <!-- ICON TOGGLE ARROW -->
          <div class="ic-togg">
            <label for="a">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </label>
          </div>
          <!-- CIERRE ICON TOGGLE ARROW -->
        </div>
      </div>

      <div class="nav-opt">
        <input type="checkbox" id="C">

        <div class="nv-s">
          <!-- icon and sub opciones -->
          <div class="sing-op">
            <div class="ic">
              <i class="fa fa-medkit" aria-hidden="true"></i>
            </div>
            <label for="C">Internamiento</label>
          </div>
          <!-- Cierre icon and sub opciones -->

          <!-- ICON TOGGLE ARROW -->
          <div class="ic-togg">
            <label for="a">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </label>
          </div>
          <!-- CIERRE ICON TOGGLE ARROW -->
        </div>
      </div>

    </div>
  </div>

  <div class="sub-content-all">
    <div id="" class="app-header">
      <div class="sub-app-header">
        <!-- <h4>menu aqui</h4> -->
      </div>
    </div>

    <div class="container">
      <div id="content" class="">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>





</div>